apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-configmap
data:
  postgresql.conf: |
    hba_file = '/config/pg_hba.conf'
    listen_addresses = '*'
    max_connections = 100
    shared_buffers = 512MB

  pg_hba.conf: |
    host    all             all             10.42.0.0/16               md5
